.Gallery-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 3rem;
}

.Gallery-item img{
    width: 250px;
    height: 220px;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.182);
}
.Gallery-item img:hover{
    transform: scale(1.02);
    transition: 0.2s;
}